/* mixins, variables, etc. */

$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee

/* questions index */

.question, .answer {
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 10px 0;
  border-top: 1px solid $gray-lighter;
  .timestamp {
    color: $gray-light;
  }
}

.no-top-border {
  border-top: none;
}

.question {
  .title{
    display: block;
    font-size: 20px;
  }
  h2, h3 {
    font-size: 30px;
    text-align: left;
    padding-bottom: 10px;
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.border-bottom {
  border-bottom: 1px solid $gray-lighter;
}

.details {
  color: $gray-light;
}

.field {
  display: block;
}

label {
  margin-bottom: 0px;
}

input {
  margin-bottom: 7px;
}
